/* Style the accordion section */
.accordion__section {
  display: flex;
  flex-direction: column;
}

/* Style the skill list section */
.skills_list{
  max-height: 250px;
  overflow: scroll;
}

/* Style the individual clear all */
.clear_all_div{
  display: block;
  width: 100%;
  text-align: center;
}

/* Style the clear all text */
.clear_all{
  font-weight: 600;
  font-size: 12px;
  text-align: left;
  background-color: #f2f2f2;
  color: black;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #f2f2f2;
  color: black;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover,
.active {
  background-color: #f2f2f2;
}

/* Style the accordion content title */
.accordion__title {
  font-weight: 600;
  font-size: 12px;
  text-align: left;
}

/* Style the accordion chevron icon */
.accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  background-color: white;
  overflow: auto;
  transition: max-height 0.6s ease;
}
